/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #EBD8D0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: #EBD8D0;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.generic-button {
    background-color: #d3ab9e;
    color: #4B3621;
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 7px;
    border: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.generic-button:hover {
    background-color: #f0f0f0; /* Hover background color */
}

/* Navbar dropdown toggle */
nav {
    position: absolute;
    padding-top: 1em;
    text-align: center;
    background-color: #EBD8D0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #4B3621;
    margin-top: 22px;
}

/* Animation for nav toggle */
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Main Content */
main {
    background-color: #EBD8D0;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    margin-top: 83px;
}

/* Home Page */
.home-top-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBD8D0;
    margin-bottom: 30px;
}

.hero-container {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-left {
    width: 100%;
    height: 500px;
    background: url("../images/temporaryimage.jpg") no-repeat center / cover;
}

.hero-right {
    width: 90%;
    min-height: 200px;
    background-color: #FDE9EA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: -100px;
}

.hero-right h1 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'great vibes', sans-serif;
}

.hero-right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.home-bottom-section {
    margin: 0 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-bottom-section a {
    position: absolute;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
}

.images-div {
    width: 90%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.home-services-img {
    width: 50%;
    height: 50%;
}

#home-services-1 {
    background: url("../images/services-1.webp") no-repeat center / cover;
}
#home-services-2 {
    background: url("../images/services-2.webp") no-repeat center / cover;

}
#home-services-3 {
    background: url("../images/services-3.webp") no-repeat center / cover;
}
#home-services-4 {
    background: url("../images/services-4.webp") no-repeat center / cover;
}

/* Services Page */
.services-hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBD8D0;
    margin-bottom: 30px;
}

.services-hero-container {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.service-hero-img {
    width: 100%;
    height: 500px;
    background: url("../images/temporaryimage.jpg") no-repeat center / cover;
}

.service-hero-text {
    width: 90%;
    min-height: 200px;
    background-color: #FDE9EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    margin-bottom: -100px;
    z-index: 10;
}

.service-hero-text h1 {
    font-weight: 200;
}

.services-bottom-section {
    margin: 0 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services-image-container {
    height: 100%;
    width: 200px;
    padding: 30px 0;
    background-color: #FDE9EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.service-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-image {
    width: 260px;
    height: 260px;
    border: 5px solid #4B3621;
}

.service-1 {
    background: url("../images/services-1.webp") no-repeat center / cover;
}
.service-2 {
    background: url("../images/services-2.webp") no-repeat center / cover;
}
.service-3 {
    background: url("../images/services-3.webp") no-repeat center / cover;
}

/* Pricelist Page */

.pricelist-page-container {
    margin-top: 40px;
    height: 70vh;
    width: 100%;
}

.pricelist-page-container h1 {
    text-align: center;
    color: #4B3621;
    font-weight: 200;
}

.pricelist {
    margin: 0 10px;
    padding: 10px;
    display: flex;
    background-color: #FDE9EA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list {
    width: 100%;
    margin-bottom: 20px;
}

.pricelist-left {
    text-align: left;
}

.pricelist-right {
    text-align: right;
}

.pricelist-img-container {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricelist-img {
    background: url("../images/temporaryimage.jpg") no-repeat center / cover;
    height: 90%;
    width: 100%;
}

/* Contact Page */
.contact-div {
    height: 100vh;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: #FDE9EA;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact-form-container {
    flex: 1;
    width: 60%;
}

.contact-form-container h1 {
    font-size: 1.3rem;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 200;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #d3ab9e;
    border-radius: 5px;
}

.textarea {
    width: 100%;
    height: 60px;
    margin: 5px 0 20px 0;
    border: 1px solid #d3ab9e;
    border-radius: 5px;
}

.contact-img-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img {
    background: url("../images/temporaryimage.jpg") no-repeat center / cover;
    height: 80%;
    width: 80%;
}

/* 404 Page */
.error-page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.error-page-container h2 {
    font-size: 1.2rem;
}

.error-page-link {
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #EBD8D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.address-container {
    padding-left: 5%;
}

.address {
    font-size: .5rem;
}

.social-networks-container {
    width: 30%;
}

#social-networks {
    text-align: center;
    list-style-type: none;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 100%;
    padding: 5%;
    color: #3a3a3a;
}

#footer-logo {
    height: 60px;
    padding: 5%;
}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    /* Header */
    header {
        justify-content: space-between;
        padding: 0;
    }

    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: flex;
        padding-right: 5%;
    }

    #menu > li {
        padding-left: .5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .book-appointment-button {
        min-width: 150px;
        margin-right: 20px;
    }

    #logo {
        margin-left: 20px;
        height: 6rem;
    }

    /* Main Content */
    main {
        margin-top: 138px;
    }

    /* Home Page */
    .hero-container {
        flex-direction: row-reverse;
    }

    .hero-right {
        margin: 0;
        margin-right: -100px;
        z-index: 10;
    }

    .images-div {
        height: 600px;
    }

    .home-bottom-section a {
        width: 50%;
        height: 3rem;
        text-align: center;
        margin: 0;
        font-size: larger;
    }

    /* Pricelist Page */
    .pricelist {
        position: relative;
        flex-direction: row;
        margin: 0 40px;
        height: 70%;
    }

    .pricelist-page-container h1 {
        position: absolute;
        top: 100px;
        left: 17%;
    }

    .pricelist button {
        position: absolute;
        bottom: 100px;
        left: 15%;
    }

    .pricelist-left,
    .pricelist-right {
        text-align: center;
    }

    /* Contact form */

    .contact-form-container h1 {
        font-size: 2rem;
    }

    /* 404.html */
    .error-page-container h2 {
        font-size: 2rem;
    }

    /* Footer */
    #social-networks i {
        font-size: 160%;
    }

    #footer-logo {
        height: 80px;
    }

    .address {
        font-size: .7rem;
    }

}

/* Media query: laptops and desktops (992px and up) */

@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Home Page */
    .hero-container {
        max-width: 1000px;
    }

    .hero-left {
        width: 80%;
    }

    .images-div {
        height: 300px;
    }

    .home-services-img {
        width: 25%;
        height: 100%;
    }

    /* Pricelist Page */
    .pricelist {
        max-width: 1000px;
        margin: 0 auto;
    }

    /* Contact page */
    .contact-container {
        flex-direction: row;
        padding-left: 50px;
    }

    .contact-img-container {
        height: 100%;
        width: 100%;
    }

    .contact-img {
        width: 90%;
    }

    /* Footer */
    footer {
        padding-bottom: 2%;
    }
}

/* Animation Keyframes */

/* ----------------------------------------------
 * Generated by Animista on 2024-4-3 16:22:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }