/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: #EBD8D0;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 70px;
    margin-top: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.book-appointment-button {
    background-color: #d3ab9e;
    color: #4B3621;
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 7px;
    border: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.book-appointment-button:hover {
    background-color: #f0f0f0; /* Hover background color */
}

/* Navbar dropdown toggle */
nav {
    position: absolute;
    padding-top: 1em;
    text-align: center;
    background-color: #EBD8D0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #4B3621;
    margin-top: 22px;
}

/* Main Content */
main {
    background-color: #EBD8D0;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    margin-top: 83px;
}

/* Footer */


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    /* Header */
    header {
        justify-content: space-between;
        padding: 0;
    }

    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: flex;
        padding-right: 5%;
    }

    #menu > li {
        padding-left: .5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .book-appointment-button {
        min-width: 150px;
        margin-right: 20px;
    }

    #logo {
        margin-left: 20px;
        height: 8rem;
    }

    /* Main Content */
    main {
        margin-top: 138px;
    }
}

